EVNAQUA_API/appsettings.json
EVNAQUA_API/appsettings.Development.json
/EVNAQUA_API/bin
/EVNAQUA_API/obj
/EVNAQUA_API/obj
/.vs
/EVNAQUA_API/obj
/EVNAQUA_API/bin
/EVNAQUA_API/bin
/EVNAQUA_API/obj
/EVNAQUA_API/Properties
/EVNAQUA_API/.idea
EVNAQUA_API/bin/Debug/net8.0/EVNAQUA_API.deps.json
EVNAQUA_API/bin/Debug/net8.0/EVNAQUA_API.dll
EVNAQUA_API/bin/Debug/net8.0/EVNAQUA_API.pdb
EVNAQUA_API/bin/Debug/net8.0/EVNAQUA_API.staticwebassets.runtime.json
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.AssemblyInfo.cs
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.AssemblyInfoInputs.cache
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.assets.cache
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.csproj.AssemblyReference.cache
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.csproj.CoreCompileInputs.cache
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.csproj.FileListAbsolute.txt
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.dll
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.GeneratedMSBuildEditorConfig.editorconfig
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.genruntimeconfig.cache
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.MvcApplicationPartsAssemblyInfo.cs
EVNAQUA_API/obj/Debug/net8.0/EVNAQUA_API.pdb
EVNAQUA_API/obj/Debug/net8.0/ref/EVNAQUA_API.dll
EVNAQUA_API/obj/Debug/net8.0/refint/EVNAQUA_API.dll
EVNAQUA_API/obj/Debug/net8.0/staticwebassets.build.json
EVNAQUA_API/obj/Debug/net8.0/staticwebassets.development.json
EVNAQUA_API/obj/Debug/net8.0/staticwebassets.pack.json
EVNAQUA_API/obj/Debug/net8.0/staticwebassets/msbuild.build.EVNAQUA_API.props
EVNAQUA_API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.EVNAQUA_API.props
EVNAQUA_API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.EVNAQUA_API.props
EVNAQUA_API/obj/Debug/net8.0/staticwebassets/msbuild.EVNAQUA_API.Microsoft.AspNetCore.StaticWebAssets.props
EVNAQUA_API/obj/EVNAQUA_API.csproj.nuget.dgspec.json
EVNAQUA_API/obj/EVNAQUA_API.csproj.nuget.g.props
EVNAQUA_API/obj/EVNAQUA_API.csproj.nuget.g.targets
EVNAQUA_API/obj/project.assets.json
EVNAQUA_API/obj/project.nuget.cache
EVNAQUA_API/Properties/launchSettings.json
